/* src/styles/GeneralInformation.css */
.general-info {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-shadow: 0 2px 4px var(--shadow-color);
    overflow-y: auto;
    height: 100%; /* Ensure component fills the available space */
}

.general-info h3 {
    margin-bottom: 15px;
    color: #333;
}

.general-info table {
    width: 100%;
    border-collapse: collapse;
}

.general-info td {
    padding: 10px;
    border: 1px solid var(--border-color);
}

.info-key {
    background-color: var(--background-color);
    font-weight: bold;
    text-align: right;
    width: 30%;
}

.info-value {
    text-align: left;
    width: 70%;
}
