.sub-navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: background-color var(--transition-duration);
}

.nav-button {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
  font-size: 14px;
  font-weight: bold;
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--secondary-color);
  outline: none;
}

.nav-button.active {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .sub-navbar {
      flex-wrap: wrap;
      justify-content: center;
  }

  .nav-button {
      flex: 1 1 auto;
      min-width: 120px;
      margin: 5px;
  }
}
